{% extends "base.html" %}

{% block title %}
Echostream-Albums-AM
{% endblock %}


{% block content %}


<body id="body" class="m-gb">
<div class="player-header">
    <div class="album-cover-art mobile">
    </div>
    <div class="player">
        <ul id="tracks" itemprop="tracks">
            <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                <span class="order">1</span>
                <a href="https://www.youtube.com/watch?v=bpOSxM0rNPM" itemprop="url">
                    <span class="track" itemprop="name">Do I Wanna Know?</span>
                </a>
                <a href="/track/0dEIca2nhcxDUV8C5QkPYb">
                    <span class="duration"><meta itemprop="duration" content="PT4M35S"/>4:32</span>
                </a>
            </li>
            <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                <span class="order">2</span>
                <a href="https://www.youtube.com/watch?v=bpOSxM0rNPM" itemprop="url">
                    <span class="track" itemprop="name">R U Mine?</span>
                </a>
                <a href="/track/0dEIca2nhcxDUV8C5QkPYb">
                    <span class="duration"><meta itemprop="duration" content="PT4M35S"/>3:21</span>
                </a>
            </li>
            <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                <span class="order">3</span>
                <a href="https://www.youtube.com/watch?v=bpOSxM0rNPM" itemprop="url">
                    <span class="track" itemprop="name">One For The Road</span>
                </a>
                <a href="/track/0dEIca2nhcxDUV8C5QkPYb">
                    <span class="duration"><meta itemprop="duration" content="PT4M35S"/>3:26</span>
                </a>
            </li>
            <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                <span class="order">4</span>
                <a href="https://www.youtube.com/watch?v=bpOSxM0rNPM" itemprop="url">
                    <span class="track" itemprop="name">Arabella</span>
                </a>
                <a href="/track/0dEIca2nhcxDUV8C5QkPYb">
                    <span class="duration"><meta itemprop="duration" content="PT4M35S"/>3:27</span>
                </a>
            </li>
            <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                <span class="order">5</span>
                <a href="https://www.youtube.com/watch?v=bpOSxM0rNPM" itemprop="url">
                    <span class="track" itemprop="name">I Want It All</span>
                </a>
                <a href="/track/0dEIca2nhcxDUV8C5QkPYb">
                    <span class="duration"><meta itemprop="duration" content="PT4M35S"/>3:05</span>
                </a>
            </li>
            <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                <span class="order">6</span>
                <a href="https://www.youtube.com/watch?v=bpOSxM0rNPM" itemprop="url">
                    <span class="track" itemprop="name">No.1 Party Anthem</span>
                </a>
                <a href="/track/0dEIca2nhcxDUV8C5QkPYb">
                    <span class="duration"><meta itemprop="duration" content="PT4M35S"/>4:03</span>
                </a>
            </li>
            <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                <span class="order">7</span>
                <a href="https://www.youtube.com/watch?v=bpOSxM0rNPM" itemprop="url">
                    <span class="track" itemprop="name">Mad Sounds</span>
                </a>
                <a href="/track/0dEIca2nhcxDUV8C5QkPYb">
                    <span class="duration"><meta itemprop="duration" content="PT4M35S"/>3:35</span>
                </a>
            </li>
            <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                <span class="order">8</span>
                <a href="https://www.youtube.com/watch?v=bpOSxM0rNPM" itemprop="url">
                    <span class="track" itemprop="name">Fireside</span>
                </a>
                <a href="/track/0dEIca2nhcxDUV8C5QkPYb">
                    <span class="duration"><meta itemprop="duration" content="PT4M35S"/>3:01</span>
                </a>
            </li>
            <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                <span class="order">9</span>
                <a href="https://www.youtube.com/watch?v=bpOSxM0rNPM" itemprop="url">
                    <span class="track" itemprop="name">Why'd You Call Me When You're High?</span>
                </a>
                <a href="/track/0dEIca2nhcxDUV8C5QkPYb">
                    <span class="duration"><meta itemprop="duration" content="PT4M35S"/>2:41</span>
                </a>
            </li>
            <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                <span class="order">10</span>
                <a href="https://www.youtube.com/watch?v=bpOSxM0rNPM" itemprop="url">
                    <span class="track" itemprop="name">Span Out Of It</span>
                </a>
                <a href="/track/0dEIca2nhcxDUV8C5QkPYb">
                    <span class="duration"><meta itemprop="duration" content="PT4M35S"/>3:13</span>
                </a>
            </li>
            <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                <span class="order">11</span>
                <a href="https://www.youtube.com/watch?v=bpOSxM0rNPM" itemprop="url">
                    <span class="track" itemprop="name">Knee Socks</span>
                </a>
                <a href="/track/0dEIca2nhcxDUV8C5QkPYb">
                    <span class="duration"><meta itemprop="duration" content="PT4M35S"/>4:17</span>
                </a>
            </li>
            <li class="first single-track" data-id="0dEIca2nhcxDUV8C5QkPYb">
                <span class="order">12</span>
                <a href="https://www.youtube.com/watch?v=bpOSxM0rNPM" itemprop="url">
                    <span class="track" itemprop="name">I Wanna Be Yours</span>
                </a>
                <a href="/track/0dEIca2nhcxDUV8C5QkPYb">
                    <span class="duration"><meta itemprop="duration" content="PT4M35S"/>3:03</span>
                </a>
        </ul>
    </div>
    <div class="two-thirds column clearfix alpha omega related-content-container" id="related_content">
        <h4 class="related-content-header">Other albums:</h4>
        <div class="one-third column alpha center">
            <div class="related-left-column one">
                <h3 class="related-content-album">Arctic Monkeys</h3>
                <a class="album-cover-art" href="/Album-FWN.html">FWN</a>
            </div>
            <div class="one-third column alpha center">
                <div class="related-left-column one">
                    <h3 class="related-content-album">Arctic Monkeys</h3>
                    <a class="album-cover-art" href="/album/1O5WUh9KsgHT2QaUCJeVPG">TBHC</a>
                </div>
                <div class="one-third column alpha center">
                    <div class="related-left-column one">
                        <h3 class="related-content-album">Arctic Monkeys
                        </h3>
                        <a class="album-cover-art" href="/album/1O5WUh9KsgHT2QaUCJeVPG">The_Car</a>
                    </div>
                    <div class="one-third column alpha center">
                        <div class="related-left-column one">
                            <h3 class="related-content-album">Tame impala
                            </h3>
                            <a class="album-cover-art" href="/album/1O5WUh9KsgHT2QaUCJeVPG">Currents</a>
                        </div>
                        <div class="one-third column alpha center">
                            <div class="related-left-column one">
                                <h3 class="related-content-album">Radiohead
                                </h3>
                                <a class="album-cover-art" href="/album/1O5WUh9KsgHT2QaUCJeVPG">OK Computer</a>
                            </div>
                            <div class="one-third column alpha center">
                                <div class="related-left-column one">
                                    <h3 class="related-content-album">Rammstein
                                    </h3>
                                    <a class="album-cover-art" href="/album/1O5WUh9KsgHT2QaUCJeVPG">Rammstein</a>
                                </div>
                                <div class="one-third column alpha center">
                                    <div class="related-left-column one">
                                        <h3 class="related-content-album">Nirvana</h3>
                                        <a class="album-cover-art" href="/album/1O5WUh9KsgHT2QaUCJeVPG">In Utero</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
       class="btn btn-primary">DO NOT CLICK THIS!</a>
</div>
{% endblock %}
