{% extends "base.html" %}

{% block title %}
Echostream-News
{% endblock %}


{% block content %}

<div class="container">
    <main class="mt-3">
        <h1 class="title">News</h1>
        <div class="card mb-3">
            <div class="card-body">
                <h2 class="card-title">Queen to Sell Music Catalog to Sony for More Than $1 Billion</h2>
                <p class="card-text">Sony Music will pay Queen £1 billion (approximately $1.27 billion) for the band’s
                    music catalog and other rights, according to Variety.
                    The magazine reports that the only rights Sony will not retain are those of live performances, as
                    guitarist Brian May and drummer Roger Taylor still tour under the band’s name.</p>
                <a href="https://www.rollingstone.com/music/music-news/queen-catalog-sony-billion-dollars-1235043145/"
                   class="btn btn-primary">Read More</a>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <h2 class="card-title">Upcoming Imagine Dragons album</h2>
                <p class="card-text">Loom is the upcoming sixth studio album by American pop rock band Imagine Dragons,
                    set to be released through Kid in a korner and Interscope Records on June 28, 2024.
                    The standard version of the record will consist of nine tracks, their least to date.</p>
                <a href="https://en.wikipedia.org/wiki/Loom_(Imagine_Dragons_album)"
                   class="btn btn-primary">Read More</a>
            </div>
        </div>
    </main>
</div>

{% endblock %}

