{% extends "base.html" %}

{% block title %}
Echostream-Store
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-3">
        <div class="card mb-4">
            <img src="/static/images/AM.jpg" class="card-img-top" alt="AM">
            <div class="card-body">
                <h5 class="card-title">AM</h5>
                <p class="card-text">24$</p>
                <a href="/Album" class="btn btn-primary">View </a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card mb-4">
            <img src="/static/images/FWN.jpg" class="card-img-top" alt="FWN">
            <div class="card-body">
                <h5 class="card-title">FWN</h5>
                <p class="card-text">24$</p>
                <a href="/Album" class="btn btn-primary">View </a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card mb-4">
            <img src="/static/images/TBHC.jpg" class="card-img-top" alt="TBHC">
            <div class="card-body">
                <h5 class="card-title">TBHC</h5>
                <p class="card-text">24$</p>
                <a href="/Album" class="btn btn-primary">View </a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card mb-4">
            <img src="/static/images/The Car.jpg" class="card-img-top" alt="The_Car">
            <div class="card-body">
                <h5 class="card-title">The Car</h5>
                <p class="card-text">24$</p>
                <a href="/Album" class="btn btn-primary">View </a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card mb-4">
            <img src="/static/images/Currents.jpg" class="card-img-top" alt="Currents">
            <div class="card-body">
                <h5 class="card-title">Currents</h5>
                <p class="card-text">24$</p>
                <a href="/Album" class="btn btn-primary">View </a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card mb-4">
            <img src="/static/images/Ok Computer.jpg" class="card-img-top" alt="Ok Computer">
            <div class="card-body">
                <h5 class="card-title">Ok Computer</h5>
                <p class="card-text">24$</p>
                <a href="/Album.html" class="btn btn-primary">View </a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card mb-4">
            <img src="/static/images/Rammstein.jpg" class="card-img-top" alt="Rammstein">
            <div class="card-body">
                <h5 class="card-title">Rammstein</h5>
                <p class="card-text">24$</p>
                <a href="/Album.html" class="btn btn-primary">View </a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card mb-4">
            <img src="/static/images/IN Utero.jpg" class="card-img-top" alt="IN Utero">
            <div class="card-body">
                <h5 class="card-title">IN Utero</h5>
                <p class="card-text">24$</p>
                <a href="/Album.html" class="btn btn-primary">View </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}







